node_modules/
dist/
release/
build/
coverage/
.DS_Store
*.log
.env*
!.env.example
*.tsbuildinfo
*.tgz
*.pid
*.seed
*.pid.lock
.cache
.parcel-cache
.npm
.eslintcache
.stylelintcache
.node_repl_history
.temp
.svelte-kit/
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/
.tern-port
.vscode-test
.pnpm-store
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/
